{erl_opts, [debug_info]}.
{deps, []}.

{test, [
  {ct_helper, {git, "https://github.com/ninenines/ct_helper.git", {branch, "master"}}}
]}.

{relx, [{release, {book2, "0.1.0"},
  [
    book2,
    sasl,
    ch3,
    ch4,
    ch5,
    ch6,
    db
  ]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, true}]}]
}]
}.

{plugins,
  [
    {rebar3_docsh, "0.7.2", {pkg, docsh}}
  ]}.
{shell, [{script_file, "_build/default/plugins/rebar3_docsh/priv/docsh_rebar3_shell.escript"}]}.
